body {
    background-color: #1f1f2b;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    margin: auto;
    overflow-y: scroll;
    background-color: white;
    width: 300px;
    height: 531px;
}

.phone {
    z-index: -1;
    position: absolute;
}

header, nav, section {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
}

header {
    justify-content: center;
    font-weight: 700;
    font-size: 21pt;
}

nav {
    justify-content: space-between;
}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    flex-grow: 1;
    font-weight: 700;
    font-size: .8em;
    color: white;
    text-align: center;
    background-color: rgba(251, 123, 35, .6);
}

nav a:hover {
    background-color: rgba(251, 123, 35, 1);
}

section {
    padding: 15px;
}

input {
    background-color: rgb(244, 244, 244);
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    padding: 10px 15px;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: rgb(124, 81, 46) solid 2px;
}

input:hover {
    border: none;
    outline: none;
    border-bottom: rgb(84, 54, 29) solid 2px;
}

input.button {
    border-bottom: none;
    color: white;
    font-weight: 700;
    padding-bottom: 9px;
    padding-top: 11px;
    margin-top: 15px;
    background-color: rgba(251, 123, 35, .6);
}
input.button:hover {
    border-bottom: none;
    background-color: rgba(251, 123, 35, 1);
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.mar {
    margin-right: auto;
}

.mal {
    margin-left: auto;
}

.mb0 {
    margin-bottom: 0;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

p.error {
    background-color: rgb(199, 46, 46);
    border: 3px solid rgb(167, 33, 33);
    opacity: .85;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
}

.button {
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    background-color:
}
