<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id" content="844750598900-4grsbbb1nnr3r50p5600h4601k0hnkm8.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <title>Item Catalog</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        {% block Head %}
        {% endblock %}
    </head>
    <body>
        <div class="phone">
            <img src="{{ url_for('static', filename='images/iphone.svg') }}">
        </div>
        <div id="Content">
            <header>
                <p>127.0.0.1</p>
            </header>
            <nav>
                <a href="/">Home</a>
                <a href="/items">Items</a>
                {% if user %}
                <a data-button="signOut" href="#">Logout</a>
                {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {% endif %}
            </nav>
            <section class="flex col">
                {% if user %}
                <p>Welcome back {{ user.username }}</p>
                {% endif %}
                {% block Section %}
                {% endblock %}
            </section>
        </div>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}" async></script>
        {% block Foot %}
        {% endblock %}
    </body>
</html>
