{% extends "base.html" %}
{% block Section %}
<form class="flex col mar mal" method="post">
    <h1>Register</h1>
    <label class="flex col">
        <p>Username:</p>
        <input name="user" type="text">
    </label>
    <label class="flex col">
        <p>Password:</p>
        <input name="pass" type="password">
    </label>
    <label class="flex col">
        <p>Verify Password:</p>
        <input name="vpass" type="password">
    </label>
    <a class="mal button"><input type="submit"></a>
</form>
{% endblock %}